<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
