<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">#TopSecretDDDProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= 'active' if params[:controller] == 'developers' %>">
        <a class="nav-link" href="/developers">Developers</a>
      </li>
      <li class="nav-item <%= 'active' if params[:controller] == 'projects' %>">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item <%= 'active' if params[:controller] == 'notifications' %>">
        <a class="nav-link" href="/notifications">Notifications</a>
      </li>
    </ul>
  </div>
</nav>
